{% extends 'base.html.twig' %}

{% block title %}Ajax{% endblock %}
{% block body %}
    {{ dump(liste) }}

    <table class="table">
        {% for joueur in liste %}
            <tr>
                <td>
                    <strong>{{joueur.pseudo}}</strong>
                </td>
                <td>
                    <a href="#" class='voir' data-id='{{joueur.id}}'>Voir</a>
                    -
                    <a href="#" class='editer' data-id='{{joueur.id}}'>Editer</a>
                    -
                    <a href="#" class='supprimer' data-id='{{joueur.id}}'>Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div id="details"></div>
{% endblock %}
{% block javascripts %}

    <script>
        $("document").ready(function () {
            $(".voir").click(function () {
                event.preventDefault();
                $
                    .ajax({
                        method: "POST",
                        url: "/show",
                        data: {
                            id: $(this).data("id")
                        }
                    })
                    .done(function (data) {
                        console.log(data)
                    })
                    .fail(function (jqXHR, textStatus) {
                        console.log("erreur");
                    });
            })
        })
    </script>

    {# <script>
        $("document").ready(function () {
            $(".voir").click(function () {
                event.preventDefault();
                let parametres = "id=" + $(this).data("id");
                //let parametres = $(this).serialize();
                console.log(parametres);
                $.post("/show", parametres, function (data) {
                    console.log(data);
                    $("#details").html(data);
                }, 'json')
            })
        })
    </script> #}
{% endblock %}